body {
	background-color: rgba(242, 240, 238, 100);
	font-family: 'Montserrat', sans-serif;
	margin-top:0;
	margin-bottom:0;
	color: rgba(126, 123, 106, 100);
}
.row {
	margin-right: 0;
	margin-left: 0;
}


.navbar {
	min-height:40px;
	padding:0;
	width: 100%;
}
.bg-menu {
	background-color: rgba(242, 240, 238, 100);

}
.nav-item {
	font-size: 13px !important;
	letter-spacing: 1px !important;
	font-weight: bold;
	color: #000;
}

.nav-link:hover {
	color: rgba(126, 123, 106, 100) !important;
	text-decoration:none;
}

#mainmenu {
	text-align: center;
}

a {
	text-decoration:none !important;
	style-type:none !important;
	color: inherit !important;
}

#logo {
	margin-top: 110px;
	width: 215.74px !important;
	height: auto !important;
}

#projects {
	padding-top:70px;
	max-width: 1055px;
	margin-left: auto;
	margin-right: auto;
}

img {
	height: 100%;
	width: 100%;
}

.link {
	padding: 0 15px;
	opacity: 0;
	text-align: center;
	position: absolute;
	top: 0;
	left:0;
	-webkit-transition: opacity 0.5s ease-in-out;
}
.link p {
	position: absolute;
	top:43%;
	width: 100%;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 3px;
	margin:0;
	padding-right: 30px;
}

@media(max-width:250px) 
{
.link p {
	font-size: 12px;
}
}

.link:hover {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
}

main {
	margin-top: 70px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-family: 'DM Serif Display', serif;
	color: rgba(198, 163, 97, 100);
	letter-spacing: 10px;
	font-size: 14px;
	text-align: center;
	margin:0;
	font-weight: bold;
}

#aboutme{
	padding-top:70px;
	position: relative;
	min-height: 370px;
}

.whoami p {
	color: #fff;
	text-align: justify;
	background-color: rgba(208, 194, 189, 100);
	margin-top: 20px;
	font-size: 13px;
}
.howiwork p{
	color: rgba(126, 123, 106, 100);
	text-align: justify;
	margin-top:40px;
	font-size: 13px;
}

@media(min-width:1400px)
{
.howiwork {
	position: absolute;
	left: 120px;
	padding-right: 150px;
}
.whoami{
	position: absolute;
	right: 0;
}
.whoami p {
	padding: 30px;
}
}


@media(min-width:1300px) and (max-width:1399px)
{
.howiwork {
	position: absolute;
	left: 60px;
	padding-right: 50px;
}
.whoami{
	position: absolute;
	right: 0;
}
.whoami p {
	padding: 30px;
}
}
@media(min-width:1200px) and (max-width:1299px)
{
.howiwork {
	position: absolute;
	left: 20px;
	padding-right: 10px;
}
.whoami{
	position: absolute;
	right: 0;
}
.whoami p {
	padding: 20px;
}
}
@media(max-width:1199px)
{
.whoami p {
	padding: 30px;
}
}


@media(min-width:1200px)
{
.whoami ol {
	display:inline-block;
	list-style-type:none;
	width: 100%;
	height:18px;
	margin:0;
	padding:0;
	position: relative;
}
.whoami ol > li:first-child {
	position:absolute;
	left:0;
}
.whoami ol > li:last-child {
	position: absolute;
	right:0;
	top:35%;
	display: block;
	width:130px;
	height:4px;
	background-color: black;
}
}

@media(max-width:1199px)
{
.whoami ol {
	list-style-type:none;
	width:100%;
	height:18px;
	margin-top: 40px;
	margin-left: auto;
	margin-right:auto;
	padding:0;
}
.whoami ol > li:last-child {
	display: none;
}
.howiwork p{
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top: 20px;
}
}

#oferta {
	padding-top:70px;
	font-size: 13px;
}
.oferta {
	max-width: 1300px;
	margin-left:auto;
	margin-right: auto;
}

.ofertasign {
	height: 35px;
	background-color: rgba(233, 230, 226, 100);
	margin-top: 40px;
}
.ofertasign h1 {
	padding: 9px;
	margin: 0;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}
#oferta ol {
	list-style-type:none;
	margin:0;
	padding: 0;
	position: relative;
	height:55px;
	color: rgba(126, 123, 106, 100);
	margin-top: 40px;
}

#oferta ol > li:first-child {
	float: left;
	display: block;
	width:4px;
	height:55px;
	background-color: black;
	position: absolute;
	left:50%;
	bottom:0;
}
#oferta ol > li:last-child {
	float: left;
	position: absolute;
	left:53%;
	bottom:20%;
}

.oferta p {
	margin-top: 20px;
	padding: 10px;
}

.oferta ul {
	padding-left:15px;
}

.order {
	height: 50px;
	text-align: center;
	max-width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top:70px;
}
.order h1{
	margin:0;
	padding: 15px;
}


form{
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	max-width:500px;
}
input{
	margin-top:10px;
	margin-bottom:10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

input[type=email]{
	height:30px;
	max-width:500px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
}
input[type=text]{
	height:30px;
	max-width:500px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
}
input[type=number]{
	height:30px;
	max-width:500px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
}
select {
	margin-top:10px;
	margin-bottom:10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height:30px;
	max-width:300px;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
}
textarea {
	margin-top:10px;
	margin-bottom:30px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height:200px;
	resize: none;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
}

input[type=submit]{
	margin-right: auto;
	margin-left: auto;
	height:50px;
	min-width: 180px;
	background-color: rgba(233, 230, 226, 100);
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: none;
	padding:16.5px 14px;
	border-radius: 5px;
}
input[type=submit]:hover{
	background-color: rgba(208, 194, 189, 100);
	cursor:pointer;
}

footer {
	background-color: #fff;
	padding-top:70px;
}
footer h1{
	margin-bottom: 40px;
}

.bg-footer{
	background-image: url("img/tlo.png");
	background-size: cover;
	min-height: 400px;
	width: 100%;
}
.wrapper {
	min-height: 400px !important;
}
.logo {
	max-width:215px !important;
	min-width:215px !important;
	max-height: 100px !important;
	min-height: 100px !important;
}

.portret {
	max-width:215px !important;
	min-width:215px !important;
	max-height: 215px !important;
	min-height: 215px !important;
}
@media(min-width:1171px)
{
.wrapper {
	max-width: 1130px;
}	
.logo {
	margin-right: 150px;
}
.contact {
	margin-right: 150px;
}
}
@media(min-width:991px) and (max-width: 1170px)
{
.wrapper {
	max-width: 900px;
}	
.logo {
	margin-right: 70px;
}
.contact {
	margin-right: 70px;
}
}
@media(max-width:990px)
{
.bg-footer {
	min-height: 650px;
}	
.logo {
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px !important;
}
.contact {
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px !important;
}

.portret {
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px !important;
}
}

.contact ol {
	list-style-type:none;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding:0;
}
.contact ol > li {
	padding-top: 10px;
}

.arrow {
	display:none;
}
.arrow-appear {
	position: fixed;
	bottom:70px;
	left:30px;
	display: block;
}
.sticky {
	position: fixed;
	top: 0px;
	z-index:100;
	background-color: rgba(242, 240, 238, 100);
}

.footer {
	height: 50px;
	background-color: rgba(208, 194, 189, 100);
	margin-bottom:0px;
	color:#fff;
	position: relative;
	font-size: 12px;
}
.image {
	padding-top:40px;
}
.finish{
	position:absolute; 
	top: 30%;
}

@media(max-width:600px)
{
.finish{
	font-size: 9px;
	top:40% !important;
}
}